<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Braian Becharouch</title>
    <meta property="og:title" content="Mi Portfolio Web – Braian Becharouch" />
    <meta property="og:description" content="Desarrollador web" />
<!-- <meta property="og:image" content="https://midominio.com/imagen-preview.png" />
<meta property="og:url" content="https://midominio.com/" />  -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> 
     <link rel="icon" type="image/x-icon" href="img/favicon3.png">
    
</head>
<body> 
    <header>
     

        <nav>           
            <div id="menu-p">
           <i class="fa-solid fa-ellipsis-vertical" onclick="dropDown()"></i>
           </div>
           <div id="dropdown-m">
            <ol>
                <li onclick="mostrarPrincipal(), dropDown()">Principal</li>
                <li onclick="mostrarAbout(),dropDown()">Sobre mí</li>
            </ol>
           </div>
        </nav>


         <img  onclick="mostrarPrincipal()" class="img-perfil-gato-nav" src="img/devyaguarete.png" alt="imagen de yaguareté programando confundido">
    </header>   
    <div id="content">

        <div >
        <div class="saludo" id="saludo1">
        <h1> Hola!
        </h1>
        <h2> Programo cosas.</h2>
        <h4>Algunos de mis proyectos:</h4>
     
        </div>
        </div>

      <section id="section1">
        <div class="projects">



             <div class="card" >
                
                <div class="card-front">
                    <div class="card-img">
                        <img src="img/GeneradorQR.png" alt="project-Img">
                    </div> 

                    <div class="card-title">
                    Generador de QR
                    </div>
                    <div class="card-tools">
                      <div>Java Swing</div>  <div>Maven</div> <div>S.O.L.I.D</div> <div>Librería QR</div> <div>Librería PDF</div>
                    </div> 
                    
                    <p style="color:rgb(43, 223, 67);; padding: 1em;">ver más...</p>

                </div>

                 <div class="card-back">
                    <h4>Características</h4><br>
                    <p> 
         Aplicación de escritorio para crear QR y BarCode. Una ventana principal contiene el ingreso de datos
         y una segunda muestra una lista de acciones que se ejecutarán todas al tocar un botón. Cada acción resulta en
        uno o más QRs y uno o más archivos. <br>  
        <br>
        Código mantenible y escalable en un MVC + Builder que construye un código QR y lo imprime en PDF digital. 
        La organización de paquetes y clases siguen la convención Maven.<br>
        </p>
                
                    <a href="https://braianbecha.github.io/landing-qr-generator/index.html">Más info</a>
                     <a href="https://github.com/BraianBecha/generador-codigos.git">Repo</a>
                    
                </div>




            </div> 








             <div class="card" >
                
                <div class="card-front">
                    <div class="card-img">
                        <img src="img/JAVACRUD.png" alt="project-Img">
                    </div> 

                    <div class="card-title">
                    CRUD
                    </div>
                    <div class="card-tools">
                      <div>Java </div>  <div> Arquitectura multicapa </div> <div>Maven</div> <div>Bases de datos</div> <div>SpringBoot</div>
                    </div> 
                    
                    <p style="color:rgb(43, 223, 67);; padding: 1em;"> ver más... </p>

                </div>

                 <div class="card-back">
                    <h4>Características</h4><br>
                    <p> 
         El CRUD típico de un curso de BackEnd. Lo hice en el curso Back-End/Java en Talento Tech. </p>
        <br>
        
                
                    <a href="https://github.com/BraianBecha/Backend-TalentoTech-Final">Más info</a>
                    
                </div>




            </div> 
            <div class="card" >
                
                <div class="card-front">
                    <div class="card-img">
                        <img src="img/landing-qr.png" alt="project-Img">
                    </div> 

                    <div class="card-title">
                    Página Web colorida
                    </div>
                    <div class="card-tools">
                      <div>Bootstrap</div>  <div>FormSpree</div> <div>HTML</div> <div>CSS</div> <div>JAVASCRIPT</div>
                    </div> 
                    
                    <p style="color:rgb(43, 223, 67);; padding: 1em;">ver más...</p>

                </div>

                 <div class="card-back">
                    <h4>Características</h4><br> 
                    <p> 
         Landing page promocional de un servicio. Simple y rápida, tiene dos secciones y formulario de contacto; modo oscuro y descarga de documentos. Textos de redacción propia, sin IA.
         </p>
                
                    <a href="https://braianbecha.github.io/landing-qr-generator/index.html">Acceder</a>
                </div>




            </div> 

                        <div class="card" >
                
                <div class="card-front">
                    <div class="card-img">
                        <img src="img/arduinoserver.png" alt="project-Img">
                    </div> 

                    <div class="card-title">
                    Servidor Web con Arduino
                    </div>
                    <div class="card-tools">
                     <div>C++</div>  <div>Arduino JSON</div>  <div>Arduino Ethernet</div> 
                      <div>Java</div> <div>HTML</div> <div>CSS</div> <div>JAVASCRIPT</div>
                    </div>   
                     <p style="color:rgb(43, 223, 67);; padding: 1em;">ver más...</p>           

                </div>

                 <div class="card-back"> <br>
                    <h4>Características</h4>
                    <p> 
         Aprovecha la escasa memoria de una placa <b>Arduino Mega 2560</b> para establecer un servidor Web que devuelva una sencilla Single Page Application
         a fin de mostrar datos útiles de los pines. <br>
          Un script en Java me ayudó a embeber el HTML en c++.
         </p>
                
                    <a href="https://github.com/BraianBecha/Arduino-SPA">Repo</a>
                </div>




            </div> 

            
            <div class="card" >
                
                <div class="card-front">
                    <div class="card-img">
                        <img src="img/inicioclub.png" alt="project-Img">
                    </div> 

                    <div class="card-title">
                    Sitio Web de Club deportivo
                    </div>
                    <div class="card-tools">
                     <div>HTML</div> <div>CSS</div> <div>JAVASCRIPT</div> <div>Google Maps</div>
                    </div>     
                     <p style="color:rgb(43, 223, 67); padding: 1em;">ver más...</p>         

                </div>

                 <div class="card-back"> <br>
                    <h4>Características</h4>
                    <p> 
          Secciones varias como Institucional, Misión, Próximos Eventos,
          mapas con ubicación. 
          Cronograma con próximos partidos
          Formulario de registro para nuevos miembros.
          Sección de contacto.
          Documento legal simulado con las reglas del club.
         </p>
                
                    <a href="https://braianbecha.github.io/HockeyClub-Ducks/">Acceder</a>
                </div>




            </div> 




             <div class="card" >
                
                <div class="card-front">
                    <div class="card-img">
                        <img src="img/nasa.png" alt="imagen de visualizador de fotos de marte">
                    </div> 

                    <div class="card-title">
                    Visualizador de imágenes de Marte
                    </div>
                    <div class="card-tools">
                     <div>Responsive</div> <div>HTML</div> <div>CSS</div> <div>Vue.Js</div>
                    </div> 
                     <p style="color:rgb(43, 223, 67);; padding: 1em;">ver más...</p>             

                </div>

                 <div class="card-back">
                  
                    <h4> Características</h4> <br>
                    <p> Este sitio busca y muestra imágenes provistas por la NASA sobre la exploración del suelo marciano en busca de evidencias de vida antigua. <br>
                          Tiene un formulario de búsqueda donde se puede elegir por día y por misión.  </p>
                
                    <a href="https://braianbecha.github.io/vue-nds/"> Acceder </a>
                  


                </div>
            </div>

            <div class="card" >
                
                <div class="card-front">
                    <div class="card-img">
                        <img src="img/productosEcommerce.png" alt="imagen muestra captura de un ecomerce">
                    </div> 

                     <div class="card-title">
                    E-Commerce
                    </div>
                    <div class="card-tools">
                     <div>HTML</div> <div>CSS</div> <div>JAVASCRIPT</div> <div>FormSpree</div>
                    </div>    
                     <p style="color:rgb(43, 223, 67);; padding: 1em;">ver más...</p>          

                </div>

                 <div class="card-back">
                    <h4> Características</h4> <br>
                    <p> Una tienda virtual clásica con lista de productos provenientes de una API, carrito de compras, cálculo de monto total de la compra y formulario de contacto funcional. </p>
                 
                    <a href="https://braianbecha.github.io/TalentoTech2024-BBH/"> Acceder </a>
                </div>
                    

            </div> 
        </div>

        </section>

        <section id="section2">
      

            <div class="sobremifotoynombre">

             <img  class="img-perfil" src="img/1732216554920.jpg" alt="Imagen de perfil">
            <ol class="nombresobremi">
               <li  onclick="mostrarAbout()"> <h3>Braian Becharouch</h3></li> 
                <li> Coder <a href="https://es.wikipedia.org/wiki/Argentina"><img  src="img/argentina2.png" alt="Bandera nacional argentina"></a> </li>                              
            </ol>  
            
            </div>


             <div class="newspaper">
              
        <h1>  Sobre mí  </h1>
  <p> Vivo en Moreno, Buenos Aires. Empecé a aprender Desarrollo Web en el año 2022. Realicé una serie de cursos y amplié lo aprendido en la Universidad, cursando Ingeniería en Electrónica.
    Como quien desempeña un oficio, hoy hago páginas Web, alguna aplicación en Java o me animo a explorar alguna tecnología nueva a veces. 
    Llevo varios años de aprendizaje constante. 
     </p>
     <br>
     
<br>
        <h3>Inglés: </h3>
<p> Soy capaz de mantener conversaciones básicas y leer sin problemas gran variedad de textos, en especial textos técnicos.</p>
  </p>
<br>
<br>

  </div>


<div class="form1">
  <div class="calltoaction">
  <br>
<h3>si crees que puedo ayudarte...</h3>
  <h1>Hablemos: </h1>
  <br> 
  </div>
  
  <form  action="https://formspree.io/f/mjkvvkaj" method="POST" >
    <div>
        <label class="lab-nombre" for="nombre">Nombre</label>
        <input class="inp-nombre" type="text" id="nombre" name="nombre" required>
      </div>
      <div>
        <label class="lab-email" for="email" >Email    </label>
        <input class="inp-email"  type="text" id="email" name="email" required>
      </div>
      <div>
        <labe class="lab-mensaje" for="mensaje">Mensaje</label>
        <textarea class="inp-mensaje" id="mensaje" name="mensaje" required  rows="8" cols="35"></textarea>
      </div>
      <button  type="submit" class="button"> <i class="fa fa-paper-plane"></i> Enviar </button>
    </form>
</div>

    

    <div class="listfinal">
<ol style="list-style: none;">

     <li>  <a href="https://github.com/BraianBecha"> <i  class="fa-brands fa-github icon"></i> </a>  <a  href="https://www.linkedin.com/in/braian-becharouch-790953a6">  <i  class="fa-brands fa-linkedin icon"></i> </a> </li>
                
             
</ol>
</div>


        </section>

        
    </div> 

    
   

    <svg class="svg1">      
           <ellipse id="elipse1" />       
    </svg>

    <div id="side-card">

    <div class="contenedor-eliptico">
         <img  onclick="mostrarAbout()" class="img-perfil-gato" src="img/devyaguarete.png" alt="imagen de yaguareté programando confundido">
       
        
            <ol class="texto-eliptico">
                
                <li  onclick="mostrarAbout()"> Coder  </li>
                <li> Responsive Web</li>
                <li> Vue.js </li>
                <li> Java </li>
                <li> Arduino (C++) </li>
                <li>  <a href="https://github.com/BraianBecha"> <i  class="fa-brands fa-github icon"></i> </a>  <a  href="https://www.linkedin.com/in/braian-becharouch-790953a6">  <i  class="fa-brands fa-linkedin icon"></i> </a> </li>
                
                
            </ol>



    </div>
     
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/2b736fd8ff.js" crossorigin="anonymous"></script>


</body>
</html>
